%ArticleTitle {
  color: $ArticleHeadingColor;
}

.About {
  @include media-breakpoint-up(md) {
    padding-top: 25vh;
    min-height: 100vh;
  }

  h1 {
    @extend %ArticleTitle;
  }
}

.Work {
  padding-top: 5vh;
  min-height: 100vh;

  @include media-breakpoint-up(md) {
    padding-top: 5vh;
  }

  h1 {
    @extend %ArticleTitle;
  }
}
