.SideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  &--header {
    padding-top: 20vh;

    &--Avatar {
      width: 14vw;
      height: 14vw;
      border-radius: 50%;
      background-color: #e7e7e7;
    }

    &--Avatar img {
      object-fit: contain;
    }
  }
}
