%MenuItem {
  letter-spacing: 0.1rem;
  font-weight: bold;
}

aside.SideMenu {
  @include media-breakpoint-up(md) {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.SideMenu {
  &--header {
    padding-top: 3rem;
    &--Avatar {
      width: 35vw;
      height: 35vw;
      border-radius: 50%;
      background-color: #e7e7e7;

      @include media-breakpoint-up(md) {
        width: 14vw;
        height: 14vw;
      }
    }

    &--Avatar img {
      object-fit: contain;
    }

    h6 {
      @extend %MenuItem;
    }

    @include media-breakpoint-up(md) {
      padding-top: 20vh;
    }
  }

  > ul {
    width: 100%;
    display: flex;

    > li {
      flex: 1;
      @extend %MenuItem;
      &:hover {
        color: #da723c;
        transition: all 0.5s ease-in;
      }
    }

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}
